<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" 
     xmlns:utils="http://wixtoolset.org/schemas/v4/wxs/util" 
     xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx">

  <!-- UPgrade Code 不能改变 -->
  <Product Id="*" Name="WGestures 1.8" Language="2052" 
           Version="1.8.0.0" Manufacturer="YingDev.com"
           UpgradeCode="00b924a0-e9c8-4c83-ac45-0e4c22b1eabc" Codepage="936">

    <!-- 要求Windows Installer 2.0以上版本 -->
    <Package InstallerVersion="200" Compressed="yes"   InstallScope="perMachine"/>
    
    <!-- 系统版本要求 -->
    <Condition Message="!(loc.OSNotSupported)">
      <![CDATA[Installed OR VersionNT >= 601]]>
    </Condition>
        
    <!-- 不允许安装旧版本 -->
    <!--MajorUpgrade  Schedule="afterInstallInitialize"  
                   DowngradeErrorMessage="!(loc.NewerVersionAlreadyInstalled)" /-->
    
    <Property Id="PREVIOUSVERSIONSINSTALLED" Secure="yes" />
    <Upgrade Id="00b924a0-e9c8-4c83-ac45-0e4c22b1eabc">
      <UpgradeVersion
         Minimum="1.0.0.0" Maximum="99.0.0.0"
         Property="PREVIOUSVERSIONSINSTALLED"
         IncludeMinimum="yes" IncludeMaximum="no" />
    </Upgrade>

    <!-- 将资源文件（Cab包）嵌入MSI中，生成单一的安装文件 -->
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="WGestures" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="StartMemuComponents" />
      <ComponentGroupRef Id="QuickStartGuideComponent" />
    </Feature>

    <!--=============界面设置=============-->
    <UI>
      <!-- 默认安装路径 -->
      <!--Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" /-->
      <!-- 对话框类型 -->
      <UIRef Id="MinUI" />

      <!-- 安装结束时要引发的事件 -->
      <!--Publish Dialog="ExitDialog" Control="Finish" Event="DoAction"  Value="LaunchApplication">
        NOT Installed
      </Publish-->

        <!-- 显示“运行WGestures”选框 -->
      <!--Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="!(loc.RunNow)" /-->

      <!-- 在“程序和功能”中显示的图标 -->
      <Property Id="ARPPRODUCTICON" Value="logo.ico" />
    </UI>

    <!-- 在“程序和功能”中显示的图标 -->
    <Icon Id="logo.ico" SourceFile="logo.ico"/>

    <!-- 顶部Banner -->
    <WixVariable Id="WixUIBannerBmp" Value="banner.png"/>
    <!-- 许可协议 -->
    <WixVariable Id="WixUILicenseRtf" Value="lic.rtf"/>
    <!-- 左边Banner -->
    <WixVariable Id="WixUIDialogBmp" Value="banner-left.jpg"/>

    
    <!--============= 安装 ===============-->
    <utils:CloseApplication Target="WGestures.exe" Timeout="10"  ElevatedCloseMessage="yes"  TerminateProcess="123" RebootPrompt="no"/>

    <!-- 安装CA -->
    <CustomAction Id='InstallCA' Directory='INSTALLFOLDER' Execute='deferred' 
                  ExeCommand='certutil -user -addstore Root cert\YingDevCA.cer' Return='ignore'/>
    
    <!-- “LaunchApplication”要运行的应用程序 -->
    <!--Property Id="WixShellExecTarget" Value="explorer" /-->


    <CustomAction Id="LaunchApplication" Directory="INSTALLFOLDER"
                  Execute="immediate" Impersonate="no" Return="ignore"
                  ExeCommand="explorer WGestures.exe" />
    
    <InstallExecuteSequence>
        <RemoveExistingProducts Overridable='yes'  Before="InstallInitialize" />
        <Custom Action="InstallCA" Before="InstallFinalize">Not Remove</Custom>
        <Custom Action="LaunchApplication" After="InstallFinalize" >NOT Installed </Custom>
    </InstallExecuteSequence>
    
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="WGestures">
          <Directory Id="DefaultsDir" Name="defaults"/>
          <Directory Id="x86Dir" Name="x86"/>
          <Directory Id="x64Dir" Name="x64"/>
          <Directory Id="CertDir" Name="cert"/>

          <Directory Id="QuickStartGuideDir" Name="QuickStartGuide">
            <Directory Id="QuickStartGuideImgDir" Name="img"/>
            <Directory Id="QuickStartGuideJsDir" Name="js"/>
            <Directory Id="QuickStartGuideSlidesDir" Name="slides"/>
          </Directory>
          
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="WGestures"/>
      </Directory>
      
    </Directory>
  </Fragment>
  
  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="RootComponent"  Guid="A7C42303-1D77-4C70-8D5C-0FD0F9158CB4">
        <File Source="$(var.WGestures.App.TargetPath).config"/>
        <File Source="$(var.WGestures.App.TargetDir)\Interop.IWshRuntimeLibrary.dll"/>
        <File Source="$(var.WGestures.App.TargetDir)\Interop.Shell32.dll"/>
        <File Source="$(var.WGestures.App.TargetDir)\Interop.SHDocVw.dll"/>
        <File Source="$(var.WGestures.App.TargetDir)\NativeMultiFileArchiveLib.dll"/>
        <File Source="$(var.WGestures.App.TargetDir)\Newtonsoft.Json.dll"/>
        <File Source="$(var.WGestures.App.TargetDir)\WGestures.Common.dll"/>
        <File Source="$(var.WGestures.App.TargetDir)\WGestures.Core.dll"/>
        <File Source="$(var.WGestures.App.TargetDir)\WGestures.View.dll"/>
        <!--File Source="$(var.WGestures.App.TargetDir)\SerializeWrapper.dll"/-->
        <File Source="$(var.WGestures.App.TargetDir)\WindowsInput.dll"/>
        <File Source="$(var.WGestures.App.TargetDir)\NLua.dll"/>
        <File Source="$(var.WGestures.App.TargetDir)\KeraLua.dll"/>
        <File Source="$(var.WGestures.App.TargetDir)\UpdateLog.txt"/>
      
        <File Source="$(var.WGestures.App.TargetDir)\WGestures.exe" Id="WGesturesExe">
          <!--netfx:NativeImage Id="ngen_WGestures.exe" 
                             Platform="all" 
                             Priority="0"
                             AppBaseDirectory="INSTALLFOLDER"/-->
        </File>
      </Component>

      <Component Id="DefaultsComponent" Directory="DefaultsDir"  
                 Guid="A7C22554-1C22-4C70-8D5C-0FD0F9150019">
        <File Source="$(var.WGestures.App.TargetDir)\defaults\config.plist"/>
        <File Source="$(var.WGestures.App.TargetDir)\defaults\gestures.wg"/>
      </Component>

      <Component Id="CertComponent" Directory="CertDir"
           Guid="A7C22554-1C22-4C70-8D5C-0FD0F9151034">
        <File Source="$(var.WGestures.App.TargetDir)\cert\YingDevCA.cer"/>
      </Component>

      <Component Id="X86Component" Directory="x86Dir" Guid="B340A8C5-4DA9-4288-95FB-9335C6A544B2">
        <File Source="$(var.WGestures.App.TargetDir)\x86\lua52.dll"/>
        <File Source="msvcr\x86\msvcp120.dll"/>
        <File Source="msvcr\x86\msvcr120.dll"/>
      </Component>

      <Component Id="X64Component" Directory="x64Dir" Guid="439800EA-D333-4968-86AD-573703B812CF">
        <File Source="$(var.WGestures.App.TargetDir)\x64\lua52.dll"/>
        <File Source="msvcr\x64\msvcp120.dll"/>
        <File Source="msvcr\x64\msvcr120.dll"/>
      </Component>

    </ComponentGroup>

    <ComponentGroup Id="QuickStartGuideComponent" Directory="QuickStartGuideDir">
      <Component  Id="QuickStartGuideComponent"  Guid="A7C43B03-1D77-4370-8D5C-0AD0F6158EB2">
        <File  Source="$(var.WGestures.App.TargetDir)QuickStartGuide\index.html" KeyPath="yes"/>
      </Component>
      
      <Component  Id="QuickStartGuideImgComponent" Directory="QuickStartGuideImgDir"  Guid="A8C46B03-1A77-4370-8D5C-0FD0F9154EB6">
        <File  Source="$(var.WGestures.App.TargetDir)QuickStartGuide\img\next.png"/>
        <File  Source="$(var.WGestures.App.TargetDir)QuickStartGuide\img\next-default.png"/>
        <File  Source="$(var.WGestures.App.TargetDir)QuickStartGuide\img\pagination_.png"/>
        <File  Source="$(var.WGestures.App.TargetDir)QuickStartGuide\img\prev.png"/>
        <File  Source="$(var.WGestures.App.TargetDir)QuickStartGuide\img\prev-default.png"/>
      </Component>

      <Component  Id="QuickStartGuideJsComponent" Directory="QuickStartGuideJsDir"  Guid="A0C56B03-1A77-4370-8A5C-0FD0F8854EB6">
        <File  Source="$(var.WGestures.App.TargetDir)QuickStartGuide\js\jquery.slides.min.js"/>
        <File  Source="$(var.WGestures.App.TargetDir)QuickStartGuide\js\jquery-1.11.1.min.js"/>
      </Component>

      <Component  Id="QuickStartGuideSlidesComponent" Directory="QuickStartGuideSlidesDir"  Guid="A0D46B03-1A77-4370-8C5A-2FC1D0854EB6">
        <File  Source="$(var.WGestures.App.TargetDir)QuickStartGuide\slides\0.png"/>
        <File  Source="$(var.WGestures.App.TargetDir)QuickStartGuide\slides\1.png"/>
        <File  Source="$(var.WGestures.App.TargetDir)QuickStartGuide\slides\2.png"/>
        <File  Source="$(var.WGestures.App.TargetDir)QuickStartGuide\slides\3.png"/>
        <File  Source="$(var.WGestures.App.TargetDir)QuickStartGuide\slides\4.png"/>
        <File  Source="$(var.WGestures.App.TargetDir)QuickStartGuide\slides\5.png"/>
      </Component>

    </ComponentGroup>

    <ComponentGroup Id="StartMemuComponents" Directory="ApplicationProgramsFolder" >
      <Component Id="ShortCutComponent" Guid="A7C44333-1D77-4C70-8C5C-1FD0F2158EA4">
        <Shortcut Id="ApplicationStartMenuShortcut"
                 Name="$(var.WGestures.App.TargetName)"
                 Description="!(loc.ShortcutDescription)"
                 Target="[INSTALLFOLDER]$(var.WGestures.App.TargetFileName)"
                 WorkingDirectory="INSTALLFOLDER"/>

        <utils:InternetShortcut  Id="ProductHomePage"  Name="!(loc.ProductHomePageLinkName)"  
                                 Target="http://www.yingDev.com/projects/wgestures"/>

        <Shortcut Id="UninstallProduct" Name="!(loc.UninstallProduct)"
                          Description="!(loc.UninstallProductDescription)"
                          Target="[SystemFolder]msiexec.exe" Arguments="/x [ProductCode]"/>

        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Microsoft\$(var.WGestures.App.TargetName)"
                       Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      
        <RegistryValue Root="HKCU" Key="Control Panel\Desktop"
                       Name="LowLevelHooksTimeout" Type="integer" Value="10000" KeyPath="no"/>
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <UI Id="MinUI">
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />
      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <Property Id="WixUI_Mode" Value="Minimal" />
      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />
      <DialogRef Id="WelcomeEulaDlg" />
      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>
      <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>
      <Property Id="ARPNOMODIFY" Value="1" />

    </UI>
    <UIRef Id="WixUI_Common" />
  </Fragment>
  
     
</Wix>