<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CheckForUpdateUrl" value="http://www.yingdev.com/projects/latestVersion?product=WGestures" />
    <add key="ProductHomePage" value="http://www.yingdev.com/projects/wgestures" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" />
    <supportedRuntime version="v2.0.50727" />
  </startup>
</configuration>