<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>$$FileVersion</key>
    <string>1</string>
    <key>IsFirstRun</key>
    <true />
    <key>AutoCheckForUpdate</key>
    <true />
    <key>AutoStart</key>
    <true />
    <key>PathTrackerTriggerButton</key>
    <integer>3</integer>
    <key>PathTrackerStayTimeout</key>
    <false />
    <key>PathTrackerInitialStayTimoutMillis</key>
    <integer>200</integer>
    <key>GestureViewMainPathColor</key>
    <integer>-14165512</integer>
    <key>GestureViewMiddleBtnMainColor</key>
    <integer>-13771520</integer>
    <key>GestureViewAlternativePathColor</key>
    <integer>-60646</integer>
    <key>GestureViewShowPath</key>
    <true />
    <key>GestureViewFadeOut</key>
    <true />
    <key>GestureViewShowCommandName</key>
    <true />
    <key>TrayIconVisible</key>
    <true />
    <key>GestureParserEnableHotCorners</key>
    <true />
    <key>PathTrackerPreferCursorWindow</key>
    <true />
    <key>GestureParserDisableInFullScreenMode</key>
    <false />
    <key>PauseResumeHotKey</key>
    <data>VwAAAAcAAAA=</data>
    <key>PathTrackerInitialStayTimeout</key>
    <false />
    <key>GestureViewXBtnPathColor</key>
    <integer>-32704</integer>
    <key>GestureParserEnableRubEdges</key>
    <true />
  </dict>
</plist>